.container{
    background-image: url("../assets/contactmeBackground.svg");
    height: 100vh; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
}

.contactContent{
    position: absolute;
    margin-left:50vw ;
    margin-top: 22.12962962962963vh;
}

.contactmeGirl{
    height: 88.81574074074074vh;
    width: 40.46875vw;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 2.1875vw;
}

.contactTitle{
    color: #454141;
    font-family: 'ELEPHNT';
    font-size: 9.25925925925926vh;
   
}

.underline{
    height: 3.7037037037037037vh;
    width: 12.791666666666666vw;
    background-color: #FFDAB9;
    position: absolute;
    z-index: -1;
    transform: translateY(-150%);
}

.contactLinks{
    margin-top: 3vh;
}
.contactLinks img{
    height: 6.481481481481482vh;
    width: 3.6458333333333335vw;
}

.profilePicture > img{
    height: 32.407407407407405vh;
    width: 23.808854166666666vw;
    margin-top: 4.351851851851852vh;
}

.homeBack{
    position: absolute;
    margin-left:2.34375vw ;
    margin-top:2vh ;
    font-size: 4.62962962962963vh;
    font-family: 'ELEPHNT';
    color: #454141;
    
}

.homeLink{
    text-decoration: none;
    color: #454141;
}
.homeLink > img{
    height: 4.000925925925926vh;
    margin-right: 1vw;
}
