.container{
    background-image: url("../assets/ProjectBackground.svg");
    height: 100vh; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    

}
.projectContent{
    font-family: 'ELEPHNT';
    color: #454141;
    position: absolute;
    margin-top: 13.425925925925926vh;
    margin-left: 10.625vw;
}
.projectTitle{
    font-size: 9.25925925925926vh;
       
}

.underline{
    height: 3.7037037037037037vh;
    width: 12.791666666666666vw;
    background-color: #FFDAB9;
    position: absolute;
    z-index: -1;
    transform: translateY(-150%);
}